.image {
  width: 200px;
  height: 200px;

}

.color-background {
  height: 40%;
  background-color: rgb(195, 161, 193);
}


.white-background {
  height: 15%;
  background-color: #ffffff;
}

.datos {
  height: 45%;
  background-color: #ffffff;
}

