<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-button (click)="MostrarMenu()">  <!-- nombre del metodo que se crea-->
        <ion-icon slot="icon-only" name="menu-outline" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 50px;">Registro Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form [formGroup]="registroEstudianteForm">
    <ion-item lines="full">
      <ion-label position="floating">Nombre Completo:</ion-label>
      <ion-input type="text" name="txtNombre" formControlName="nombre" [(ngModel)]="newEstudiante.nombre" placeholder="Jose Riquelme" required></ion-input>
    </ion-item>

    <div *ngIf="registroEstudianteForm.get('nombre')?.invalid && (registroEstudianteForm.get('nombre')?.dirty || registroEstudianteForm.get('nombre')?.touched)">
      <div style="color: red" *ngIf="registroEstudianteForm.get('nombre')?.hasError('required')">
        El nombre es obligatorio.
      </div>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Rut:</ion-label>
      <ion-input type="text" name="txtRut" formControlName="rut" [(ngModel)]="newEstudiante.rut" placeholder="19654782-9" required></ion-input>
    </ion-item>

    <div *ngIf="registroEstudianteForm.get('rut')?.invalid && (registroEstudianteForm.get('rut')?.dirty || registroEstudianteForm.get('rut')?.touched)">
      <div style="color: red" *ngIf="registroEstudianteForm.get('rut')?.hasError('required')">
        El rut es obligatorio.
      </div>
      <div style="color: red" *ngIf="registroEstudianteForm.get('rut')?.hasError('minlength')">
        El rut debe tener al menos 8 caracteres
      </div>
    </div>
  
    <ion-item lines="full">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" name="txtEmail" formControlName="email" [(ngModel)]="newEstudiante.email" placeholder="Hola@gmail.com" required></ion-input>
    </ion-item>
    <div style="color: red" *ngIf="registroEstudianteForm.get('email')?.hasError('required') && (registroEstudianteForm.get('email')?.dirty || registroEstudianteForm.get('email')?.touched)">
      <div class="error-message">El correo es obligatorio</div>
    </div>
    <div style="color: red" *ngIf="registroEstudianteForm.get('email')?.hasError('email') && (registroEstudianteForm.get('email')?.dirty || registroEstudianteForm.get('email')?.touched)">
      <div class="error-message">El correo no es válido</div>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" name="txtpassword" formControlName="password" [(ngModel)]="newEstudiante.password" placeholder="*******" required></ion-input>
    </ion-item>

    <div *ngIf="registroEstudianteForm.get('rut')?.invalid && (registroEstudianteForm.get('rut')?.dirty || registroEstudianteForm.get('rut')?.touched)">
      <div style="color: red" *ngIf="registroEstudianteForm.get('password')?.hasError('required')">
        La contraseña es obligatoria
      </div>
      <div style="color: red" *ngIf="registroEstudianteForm.get('password')?.hasError('minlength')">
        La contraseña debe tener al menos 8 caracteres
      </div>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Jornada:</ion-label>
      <ion-input type="text" name="txtJornada" formControlName="jornada" [(ngModel)]="newEstudiante.jornada" placeholder="Diurno/Vespertino" required></ion-input>
    </ion-item>

    <div *ngIf="registroEstudianteForm.get('jornada')?.invalid && (registroEstudianteForm.get('jornada')?.dirty || registroEstudianteForm.get('jornada')?.touched)">
      <div style="color: red" *ngIf="registroEstudianteForm.get('jornada')?.hasError('required')">
        La jornada es obligatoria
      </div>
    </div>


    <ion-item >
      <ion-label position="floating">Sede:</ion-label>
      <ion-select interface="popover" multiple="false" name="sede" formControlName="sede" [(ngModel)]="newEstudiante.sede">
          <ion-select-option value="Alameda">Alameda</ion-select-option>
          <ion-select-option value="Padre Alonso de Ovalle">Padre Alonso de Ovalle</ion-select-option>
          <ion-select-option value="Antonio Varas">Antonio Varas</ion-select-option>
          <ion-select-option value="Maipu">Maipú</ion-select-option>
          <ion-select-option value="Melipilla">Melipilla</ion-select-option>
          <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
          <ion-select-option value="Plaza Oeste">Plaza Oeste</ion-select-option>
          <ion-select-option value="Vespucio">Plaza Vespucio</ion-select-option>
          <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>
          <ion-select-option value="San Bernardo">San Bernardo</ion-select-option>
          <ion-select-option value="San Carlos de Apoquindo">San Carlos de Apoquindo</ion-select-option>
          <ion-select-option value="San Joaquín">San Joaquín</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="registroEstudianteForm.get('sede')?.invalid && (registroEstudianteForm.get('sede')?.dirty || registroEstudianteForm.get('sede')?.touched)">
      <div style="color: red" *ngIf="registroEstudianteForm.get('sede')?.hasError('required')">
        La sede es obligatoria
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-button (click)="crearEstudiante()"  [disabled]="!registroEstudianteForm.valid" expand="block" color="botonmorado" >Registrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>




<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registroEstudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registroEstudiante</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<!-- <ion-item >
  <ion-label position="floating">Sede:</ion-label>
  <ion-select interface="popover" placeholder="Seleccione"  [(ngModel)]="usuario.sede" style="font-size: small;">
    <ion-select-option value="Alameda">Alameda</ion-select-option>
    <ion-select-option value="Padre Alonso de Ovalle">Padre Alonso de Ovalle</ion-select-option>
    <ion-select-option value="Antonio Varas">Antonio Varas</ion-select-option>
    <ion-select-option value="Maipu">Maipú</ion-select-option>
    <ion-select-option value="Melipilla">Melipilla</ion-select-option>
    <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
    <ion-select-option value="Plaza Oeste">Plaza Oeste</ion-select-option>
    <ion-select-option value="Vespucio">Plaza Vespucio</ion-select-option>
    <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>
    <ion-select-option value="San Bernardo">San Bernardo</ion-select-option>
    <ion-select-option value="San Carlos de Apoquindo">San Carlos de Apoquindo</ion-select-option>
    <ion-select-option value="San Joaquín">San Joaquín</ion-select-option>
  </ion-select>
</ion-item> -->