<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-button (click)="MostrarMenu()">  <!-- nombre del metodo que se crea-->
        <ion-icon slot="icon-only" name="menu-outline" color="medium"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title style="padding-left: 10px;">Inicio Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- Saludo de Bienvenida -->
  <ion-card >
    <ion-card-header >
      <ion-card-subtitle style="text-align: center; font-size: medium; font-weight: bolder;" >{{email}}</ion-card-subtitle>
      <ion-card-title style="text-align: center; font-size: large; font-weight: bolder;" >BIENVENIDO!! <ion-icon name="hand-left-outline"></ion-icon></ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <img src="assets/ini-alumno.png" class="ion-padding" style="padding-left: 40px; padding-top: 40px;" >
    </ion-card-content>

      <ion-button color="botonmorado" [routerLink]="['/escanear-qr']" style="margin-left: 60px; "><ion-icon name="qr-code-outline" style="padding-right: 8px;"></ion-icon> ESCANEAR QR</ion-button>
      <ion-button (click)="logout()" color="botonmorado" style="margin-left: 60px; margin-bottom: 60px;">
        <ion-icon name="log-out" slot="start"></ion-icon>
        CERRAR SESIÓN
      </ion-button>

  </ion-card>


  
</ion-content>
